<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">

        <button class="btn btn-outline-success" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-patch-plus"></i></button>
      </form>
    </div>
  </div>
</nav>
<br><br>
<div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Adresse</th>
        <th scope="col">phone</th>
        <th scope="col">Salaire</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>

      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employe of employeData">
          <td>{{employe.id}}</td>
          <td>{{employe.nom}}</td>
          <td>{{employe.prenom}}</td>
          <td>{{employe.adresse}}</td>
          <td>{{employe.phone}}</td>
          <td>{{employe.salaire}}</td>
          <td>{{employe.email}}</td>
          <td>{{employe.password}}</td>
          <td>

            <button  class="btn btn-outline-warning"><i class="bi bi-vector-pen"></i></button>
            <button class="btn btn-radio btn-outline-danger mx-3"><i class="bi bi-trash3"></i></button>
            <button  class="btn btn-outline-dark"><i class="bi bi-plus-circle-dotted"></i></button>
          </td>
        </tr>
      </tbody>

    </table>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formvalue">
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text"  formControlName="nom" class="form-control" id="nom" >
            </div>
            <div class="mb-3">
              <label for="prenom" class="form-label">Prenom</label>
              <input type="text"  formControlName="prenom"  class="form-control" id="prenom" >
            </div>
            <div class="mb-3">
              <label for="adresse" class="form-label">Adresse</label>
              <input type="text"   formControlName="adresse" class="form-control" id="adresse" >
            </div>
            <div class="mb-3">
              <label for="telephone" class="form-label">Phone</label>
              <input type="text"  formControlName="phone"  class="form-control" id="telephone" >
            </div>
            <div class="mb-3">
              <label for="salaire" class="form-label">Salaire</label>
              <input type="number"   formControlName="salaire" class="form-control" id="salaire" >
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" formControlName="email" class="form-control" id="email" >
            </div>


            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
            </div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="annuler" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="postEmployeeDetail()"   class="btn btn-outline-success">Save</button>
        </div>
      </div>
    </div>
  </div>


  </div>
</body>
</html>
